<section id="links">
  &emsp;<%= link_to "Merchant Dashboard", "/merchants/#{@merchant.id}" %>
</section>

<section id="disc_index">
  <h2>Discounts Index</h2>
  <% @discounts.each do |invoice| %>
    <div id="discount-<%= discount.id %>">
      Percent Discount $<%= link_to "#{discount.id}", "/merchants/#{@merchant.id}/discounts/#{discount.id}" %>
      Quantity Threshold:&emsp;<%= discount.quantity %>

    </div>
  <% end %>
</section>

<section id="disc_index">
  <h2>Upcoming Holidays</h2>
    <%# @three_holidays.each do |holiday| %>
    <%# end %>
  
</section>
