<h2>Bulk Discount Show</h2>
<h3 align="right"><%= render partial: 'partials/merch_header' %>&emsp;</h3>

<h3>&emsp;Percent Off % <%= @discount.percent %></h3>
<h3>&emsp;Minimum Quantity % <%= @discount.quantity %> (item threshold)</h3>
